run = "cd pocket_option_trading_bot && python3 main.py"
entrypoint = "pocket_option_trading_bot/main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["geckodriver"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "cd pocket_option_trading_bot && python3 main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80
